:root {
  --darker-bg: #1e1e1e;
  --lighter-bg: #2e2e2e;
  --off-white: #f4f0e0;
  --lightest-bg: #444;
  --accent-color: #ffc067;
}

html,
body {
  max-width: 100vw;
}

body {
  background-color: #1e1e1e;
  font-family: "SF Mono", "Fira Code", "Fira Mono", "Roboto Mono", monospace;
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  /* outline: 1px solid red; */
}

a {
  color: inherit;
  text-decoration: none;
}
