/* base (mobile) */
.top_bar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.page {
  background-color: var(--lighter-bg);
  display: flex;
  flex-direction: column;
}

.section {
  display: flex;
  justify-content: center;
}

.sidebar {
  display: none;
}

.nobar {
  display: none;
}

.main {
  flex: 1 1 100%;
  width: 100%;
  padding: 5%;
}

.introduction {
  min-height: 60vh;
}

.about {
  min-height: 95vh;
}

.experience {
  min-height: 70vh;
}

.projects {
  min-height: 95vh;
}

.contact {
  min-height: 20vh;
}

.bottom {
  min-height: 5vh;
}

.bottom_bar {
  width: 80%;
  font-size: 0.6rem;
  padding: 1.5rem;
  flex: 8;
  border-top: 0.1rem solid var(--off-white);
  text-align: center;
  color: var(--off-white);
}

/* Desktop */
@media (min-width: 600px) {
  .page {
    background-color: var(--lighter-bg);
    display: flex;
    flex-direction: column;
    gap: 5rem;
  }

  .section {
    display: flex;
    justify-content: center;
  }

  .sidebar {
    flex: 1;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .bar {
    flex: 1;
    width: 0.25rem;
    background: linear-gradient(
      90deg,
      var(--off-white) 0.25rem,
      transparent 0.25rem
    );
  }

  .nobar {
    flex: 1;
  }

  .main {
    flex: 3;
  }

  .bottom_bar {
    font-size: 1rem;
    padding: 1.5rem;
    flex: 8;
    border-top: 0.25rem solid var(--off-white);
    text-align: center;
    color: var(--off-white);
  }
}
