.top_bar {
  position: sticky;
  top: 0;
  z-index: 100;
}

.page {
  background-color: #2e2e2e;
  display: flex;
  flex-direction: column;
  gap: 120px;
}

.section {
  display: flex;
  justify-content: center;
}

.sidebar {
  flex: 1;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.bar {
  flex: 1;
  width: 4px;
  background: linear-gradient(90deg, #f4f0e0 2px, transparent 2px);
}

.nobar {
  flex: 1;
}

.main {
  flex: 3;
}

.introduction {
  min-height: 500px;
}

.about {
  min-height: 800px;
}

.experience {
  min-height: 600px;
}

.projects {
  min-height: 800px;
}

.contact {
  min-height: 200px;
}

.bottom {
  min-height: 50px;
}

.bottom_bar {
  padding: 20px;
  flex: 8;
  border-top: 2px solid #f4f0e0;
  text-align: center;
  color: #f4f0e0;
}
