@import "@/app/globals.css";

.experience_container {
  width: 80%;
  min-height: 620px;
  background-color: var(--darker-bg);
  color: var(--off-white);
  padding: 20px;
}

.experience_header_container {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 2rem 0;
}

.experience_header {
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
}

.experience_header_container::after {
  content: "";
  flex: 9;
  border-bottom: 2px solid var(--off-white);
  opacity: 0.5;
}

.experience_header_container::before {
  content: "";
  flex: 1;
  border-bottom: 2px solid var(--off-white);
  opacity: 0.5;
}

.experience_body {
  display: flex;
  min-height: 480px;
}

.experience_body_choice {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-align: left;
  text-decoration: none;
}

.experience_choice {
  height: 100%;
  background-color: transparent;
  color: var(--off-white);
  border: none;
  font-size: 1.5rem;
  padding-left: 10px;
  border-left: 2px solid var(--off-white);
  opacity: 0.3;
}

.experience_choice:hover {
  color: var(--off-white);
  opacity: 1;
}

.experience_choice_selected {
  height: 100%;
  border: none;
  border-left: 2px solid var(--off-white);
  color: var(--off-white);
  background-color: transparent;
  font-size: 1.5rem;
  padding-left: 10px;
}

.experience_body_selected {
  flex: 4;
  margin-left: 10px;
  padding: 20px;
  padding-left: 30px;
  background-color: var(--lighter-bg);
}

.job_subheader {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  color: var(--off-white);
  opacity: 0.5;
}
/* .job_name { */
/* } */
/**/
/* .job_company { */
/* } */
/**/
/* .job_tenure { */
/* } */

.job_description {
  color: var(--off-white);
  line-height: 1.6;
}

.job_description li {
  padding-bottom: 10px;
}
