.experience_container {
  width: 80%;
  height: 600px;
  background-color: #1e1e1e;
  color: #f4f0e0;
  padding: 20px;
}

.experience_header_container {
  display: flex;
  align-items: center;
  font-weight: bold;
  margin: 2rem 0;
}

.experience_header {
  letter-spacing: 0.1em;
  font-size: 1.5rem;
  font-weight: bold;
  text-transform: uppercase;
  padding-right: 10px;
  padding-left: 10px;
}

.experience_header_container::after {
  content: "";
  flex: 9;
  border-bottom: 2px solid #f4f0e0;
  opacity: 0.5;
}

.experience_header_container::before {
  content: "";
  flex: 1;
  border-bottom: 2px solid #f4f0e0;
  opacity: 0.5;
}
.experience_body {
  display: flex;
  height: 80%;
}

.experience_body_choice {
  height: 50%;
  text-align: left;
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: space-around;
  text-decoration: none;
}

.experience_choice {
  height: 100%;
  background-color: transparent;
  border: none;
  font-size: 1.5rem;
  color: #f4f0e0;
  padding-left: 10px;
  opacity: 0.7;
}

.experience_choice:hover {
  color: #f4f0e0;
  opacity: 1;
}

.experience_choice_selected {
  border: none;
  border-left: 2px solid #f4f0e0;
  color: #f4f0e0;
  height: 100%;
  background-color: transparent;
  font-size: 1.5rem;
  color: #f4f0e0;
  padding-left: 10px;
}

.experience_body_selected {
  flex: 4;
  padding-left: 40px;
}

.job_name {
}
.job_subheader {
  display: flex;
  justify-content: space-between;
  padding-top: 10px;
  padding-bottom: 10px;
  color: #f4f0e0;
  opacity: 0.5;
}

.job_company {
}

.job_tenure {
}

.job_description {
  color: #f4f0e0;
  line-height: 1.6;
}

.job_description li {
  padding-bottom: 10px;
}
