/* @import "@/app/globals.css"; */

.introduction_container {
  width: 80%;
  height: 500px;
  background-color: var(--lighter-bg);
  color: var(--off-white);
  padding-left: 30px;
  display: flex;
  justify-content: center;
  flex-direction: column;
  gap: 10px;
}

.introduction {
  font-size: 1rem;
  opacity: 0.5;
  font-family: sans-serif;
  padding-bottom: 10px;
}

.name {
  color: var(--off-white);
  font-size: 3rem;
}

.about {
  font-size: 1rem;
  background-color: var(--lighter-bg);
  opacity: 1;
  width: 70%;
  margin-bottom: 1.5rem;
  line-height: 1.6;
}

.about strong {
  color: var(--accent-color);
  opacity: 1;
}
