.sidebar_container {
  /* height: 100vh; */
  display: flex;
  flex-direction: column;
  align-items: center;
  left: 0;
  top: 0;
}

.lf_side_bar_1,
.lf_side_bar_3,
.lf_side_bar_5,
.rf_side_bar_2,
.rf_side_bar_4 {
  width: 4px;
  background: linear-gradient(90deg, #f4f0e0 2px, transparent 2px);
}

.gap_bar {
  height: 120px;
}

.lf_side_bar_1 {
  height: 600px;
}

.lf_side_bar_2 {
  height: 800px;
}

.lf_side_bar_3 {
  height: 620px;
}

.lf_side_bar_4 {
  height: 820px;
}

.lf_side_bar_5 {
  height: 200px;
}

.rf_side_bar_1 {
  height: 600px;
}

.rf_side_bar_2 {
  height: 800px;
}

.rf_side_bar_3 {
  height: 600px;
}

.rf_side_bar_4 {
  height: 850px;
}

.rf_side_bar_5 {
  height: 200px;
}
