/* base (mobile) */
.top_nav_container {
  background-color: var(--darker-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.top_nav {
  height: 8vh;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  box-sizing: border-box;
  padding-right: 1%;
}

.icon_bar {
  color: var(--off-white);
  display: flex;
  flex-direction: row;
  gap: 20%;
  padding-left: 1%;
  font-size: 0.9rem;
}

.top_nav_icons {
  color: var(--off-white);
  font-size: 0.7rem;
  padding: 1%;
  margin-right: 1%;
}

.resume_nav_icon {
  color: var(--darker-bg);
  background-color: var(--off-white);
  border: none;
  font-size: 0.7rem;
  border-radius: 7px;
  padding: 2%;
}

/* Desktop */
@media (min-width: 600px) {
  .top_nav {
    height: 9vh;
  }

  .icon_bar {
    color: var(--off-white);
    padding-left: 1%;
    font-size: 1.5rem;
    gap: 35%;
  }

  .top_nav_icons {
    font-size: 1rem;
    padding: 0 5%;
  }

  .resume_nav_icon {
    font-size: 1rem;
    padding: 0.8rem;
    border-radius: 10px;
  }
}
